.menu-item {
  /* width: 60px; */
  display        : flex;
  justify-content: center;
  /* cursor         : pointer; */
  width          : 100%;
}

.popover-content {
  display       : flex;
  flex-direction: column;
  gap           : 18px;
  cursor        : pointer;
}

.popover-item-select {
  color: #1888FF;
}

.popover-item {
  cursor: pointer;
}
