.container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 16px 0 24px;
  justify-content: center;
  box-sizing: border-box;
  min-height: 0;
  overflow: hidden;
}

.root-container {
  flex: 1;
  width: 100%;
  overflow: hidden;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
